.list-todo-conteiner{
    button{
        cursor: pointer;
    }
    .add-todo{
        .Add{
            margin: 0 10px;
        }

    }
    .list-todo-content{
        width: 400px;
        margin: 0 auto;
        /* border: 1px solid red; */
        /* text-align: center; */
        .todo-child{
            &:first-child {
            border-top: 1px solid grey;           
              }
            height: 40px;
            border-bottom: 1px solid grey;
            margin-top: 10px;
            .Edit{
                margin: 0 10px;
            }
        }
    }
}